<div class="container mt-5">
    <form>
        <b>
            <font color="red">
                <h2>EDITAR PERFIL ADMINISTRADOR</h2>
            </font>
        </b>
        <div class="form-group">
            <label for="nombre">NOMBRE</label>
            <input type="text" class="form-control" id="nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">APELLIDOS</label>
            <input type="text" class="form-control" id="apellidos">
        </div>
        <div class="form-group">
            <label for="telefono">TELEFONO</label>
            <input type="number" class="form-control" id="telefono">
        </div>
        <div class="form-group">
            <label for="correo">CORREO</label>
            <input type="email" class="form-control" id="correo">
        </div>

        <button type="submit" class="btn btn-success mb-2">Actualizar</button>
    </form>
</div>