<div class="container-fluid wrapp-contenido">
    <div class="contenido-informe">
        <div class="wrapp-titulo">
            <h2 class="titulo-informe mt-4">INFORME ATLETA</h2>
        </div>
        <p> 
            <br><br>
            Monitoreo atletas <br><br>
            Con el presente informe, se comunica la cifras que presento el atleta (nombre)
            en todos los eventos que se le relaciona<br><br>
            El atleta se programo en {{ informe?.totalEventos }} eventos de los cuales
            {{ informe?.eventosRealizados }} ha desarrollado, quedadon asi, {{ informe?.eventosNoRealizados }} eventos faltantes 
            programados por desarrollar.<br><br>
            Se destaca que su mejor marca obtenida fue un tiempo de{{ informe?.mejorMarca }},
            ademas se informa que tiene un promedio de {{ informe?.pormedioMarcas }} en todo su historial.<br><br>
        </p>
        <div class="fecha-informe">
            <span>Medellin, fecha</span>
        </div>
    </div>
</div>
