<div class="container-fluid wrapp-contenido">
    <div class="contenido-informe">
        <div class="wrapp-titulo">
            <h2 class="titulo-informe mt-4">INFORME ATLETA</h2>
        </div>
        <p> 
            <br><br>
            Monitoreo de atletas <br><br>
            Con el presente informe se comunica las cifras que presento el atleta {{ nombreAtleta }}
            en todos los eventos que se registro<br><br>
            El atleta se registro en {{ informe?.totalEventos }} eventos de los cuales
            {{ informe?.eventosRealizados }} ha participado, quedando así, {{ informe?.eventosNoRealizados }} eventos faltantes 
            programados por desarrollar.<br><br>
            Se destaca que su mejor marca obtenida fue un tiempo de {{ informe?.mejorMarca }},
            además se informa de que tiene un promedio de {{ informe?.pormedioMarcas }} en todos los eventos que participo.<br><br>
        </p>
        <div class="fecha-informe">
            <span>Medellín, {{ hoy }}</span>
        </div>
    </div>
</div>
