<div class="container-fluid wrapp-contenido">
    <div class="contenido-informe">
        <div class="wrapp-titulo">
            <h2 class="titulo-informe mt-4">INFORME GENERAL</h2>
        </div>
        <p>
            Monitoreo de atletas <br><br>
            Con el presente informe se comunica las cifras que se presentaron
            en los eventos del actual año <br><br>
            El numero de eventos totales que se han programado es de {{ informe?.totalEventos }}, de los cuales
            {{ informe?.numeroEventosAnio }} eventos se programaron en el actual año {{fechaActual.getFullYear() }} <br><br>
            Se destaca que la mejor marca obtenida en todo el año fue un tiempo de {{ informe?.mejorMarca?.marca }}
            obtenido por el atleta {{ informe?.mejorMarca?.nombreAtleta }}. Además se informa de que el promedio de resultados 
            fue de {{ informe?.promedioMarcas }}.<br><br>
            Por ultimo, la cantidad de atletas activos en la plataforma es de {{ informe?.numeroAtletas }} y el numero
            de entrenadores disponibles es de {{ informe?.numeroEntrenadores }}.
        </p>
        <div class="fecha-informe">
            <span>Medellín, {{ hoy }}</span>
        </div>
    </div>
</div>