<div class="container mt-5">
    <form [formGroup]="myForm" (submit)="actualizarAtleta()">
        <p>
            <b>
                <font color="red">
                    EDITAR PERFIL
                </font>
            </b>
        </p>

        <div class="form-group">
            <label for="nombre">NOMBRE</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">APELLIDOS</label>
            <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
        </div>
        <div class="form-group">
            <label for="edad">EDAD</label>
            <input type="number" class="form-control" id="edad" formControlName="edad">
        </div>
        <div class="form-group">
            <label for="telefono">TELEFONO</label>
            <input type="number" class="form-control" id="telefono" formControlName="telefono">
        </div>
        <div class="form-group">
            <label for="correo">CORREO</label>
            <input type="email" class="form-control" id="correo" formControlName="correo">
        </div>
        <div class="form-group">
            <label for="estatura">ESTATURA</label>
            <input type="number" class="form-control" id="estatura" formControlName="estatura">
        </div>
        <div class="form-group">
            <label for="peso">PESO</label>
            <input type="number" class="form-control" id="peso" formControlName="peso">
        </div>
        <div class="form-group">
            <label for="talla_camisa">TALLA_CAMISA</label>
            <input type="number" class="form-control" id="talla_camisa" formControlName="talla_camisa">
        </div>
        <div class="form-group">
            <label for="tipo_sangre">TIPO_SANGRE</label>
            <input type="text" class="form-control" id="tipo_sangre" formControlName="tipo_sangre">
        </div>
        <div class="form-group">
            <label for="alergias">ALERGIAS</label>
            <textarea class="form-control" id="alergias" rows="2" formControlName="alergias"></textarea>
        </div>
        <div class="form-group">
            <label for="operaciones">OPERACIONES</label>
            <textarea class="form-control" id="operaciones" rows="2" formControlName="operaciones"></textarea>
        </div>
        <div class="form-group">
            <label for="lesiones_graves">LESIONES_GRAVES</label>
            <textarea class="form-control" id="lesiones_graves" rows="2" formControlName="lesiones_graves"></textarea>
        </div>
        <div class="form-group">
            <label for="fracturas">FRACTURAS</label>
            <textarea class="form-control" id="fracturas" rows="2" formControlName="fracturas"></textarea>
        </div>
        <div class="form-group">
            <label for="sexo">SEXO</label>
            <input type="text" class="form-control" id="sexo" formControlName="sexo">
        </div>
        <button type="submit" class="btn btn-success mb-2">Actualizar</button>
    </form>
</div>
