 <div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton">
                ATRAS
        </button>
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
            CERRAR SESION
        </button>
    </div>

    <div class="bienvenida">
        <div class="bienvenida__info">
            <p>
                BIENVENIDO {{ atleta?.nombre | uppercase}}
                <br><br>
                ESTAS EN TU PERFIL DE ATLETA
            </p>
        </div>
        <div class="bienvenida__foto">
            <img src="../../../../assets/img/profile-atleta.jpeg" alt="foto atleta">
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-3">
            <p class="info-perfil">
                PERFIL <br>
                NOMBRE: {{ atleta?.nombreCompleto | uppercase}}  <br>
                EDAD: {{ atleta?.edad | uppercase}} <br>
                TELEFONO: {{ atleta?.telefono | uppercase}} <br>
                ATLETA ESTUDIANTE <br>
                DE DEPORTES DEL POLITECNICO <br>
                JAIME ISAZA CADAVID
            </p>
        </div>
        <div class="col-md-7 opciones-funciones">
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">INICIAR ACTIVIDAD</button>                    
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">EDITAR PERFIL</button>
                </span>
            </div>
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">VER RENDIMIENTO</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">GENERAR INFORME</button>
                </span>
            </div>
        </div>

        <app-editar-atleta></app-editar-atleta>
    </div>

    <div class="content__wrapp-img">
        <img src="../../../../assets/img/escudo-politecnico-jic.jpg" class="content__img" alt="">
    </div>
 </div>