<div class="container wrap-main mt-4 ">
    <div class="row">
        <div class="col-5 offset-8">
            <span class="mr-5">
                <button type="button" class="btn btn-danger">ATRAS</button>
            </span>
            <span>
                <button type="button" class="btn btn-danger">CERRAR SESION</button>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p class="mt-5">
                BIENVENIDO {{ name }}
                <br><br>
                ESTAS EN TU PERFIL DE ATLETA
            </p>
        </div>
        <div class="col-4">
            <div class="wrap-imagen wrap-imagen-col">
                <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="escudo politecnico jic">
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-6">
            PERFIL <br>
            NOMBRE: {{ name }}  <br>
            EDAD: {{ age }} <br>
            TELEFONO: {{ telefono }} <br>
            ATLETA ESTUDIANTE DE DEPORTES
            DEL POLITECNICO JAIME ISAZA
            CADAVID
        </div>

        <div class="col-6">
            <div class="mb-5">
                <span class="mr-5">
                    <button type="button" class="btn btn-light boton">INICIAR ACTIVIDAD</button>                    
                </span>
                <span>
                    <button type="button" class="btn btn-light boton">EDITAR PERFIL</button>
                </span>
            </div>
            <div class="mb-5">
                <span class="mr-5">
                    <button type="button" class="btn btn-light boton">VER RENDIMIENTO</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light boton">GENERAR INFORME</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="wrap-imagen">
                <img src="../../../assets/img/escudo-politecnico-jic.jpg" class="img-poli" alt="escudo politecnico jic">
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
