<div class="container mt-5">
    <form  [formGroup]="myForm">
        <p>
            <b>
                <font color="red">
                    EVENTOS DISPONIBLES SIN MARCA REGISTRADA
                </font>
            </b>
        </p>
        <select class="custom-select" (change)="seleccionarEvento()"  formControlName="idEvento">
            <option *ngFor="let evento of eventos" [value]="evento.idEvento" >{{ evento.fecha }} </option>
        </select>

    </form>


    <form  #formResultado="ngForm" (ngSubmit)="registrarMarca(formResultado)" *ngIf="eventoSeleccionado" class="mt-4">
        <p>
            <b>
                <font color="red">
                    EVENTO SELECCIONADO
                </font>
            </b>
        </p>
        <p> <b> LUGAR:  </b>{{ eventoSeleccionado.lugar | uppercase}} </p>
        <p> <b> REQUISITOS: </b> {{ eventoSeleccionado.requisitos | uppercase}} </p>
        <p> <b> FECHA: </b> {{ eventoSeleccionado.fecha | uppercase}} </p>
        <p> <b> HORA: </b> {{ eventoSeleccionado.hora | uppercase}} </p>
        <div class="form-group">
            <label for="apellidos"><b>Resultado obtenido</b></label>
            <input type="number" class="form-control" id="marca" name="marca" [(ngModel)]="ResultadoObtenido">
        </div>
        <button type="submit" class="btn btn-success"> Registrar resultado </button>
    </form>
</div>
