<div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                [routerLink]="['/home']">ATRAS</button>
        <button type="button" class="btn btn-danger botones-navegacion__boton">EDITAR PERFIL</button>
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
                CERRAR SESION
        </button>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 mt-5 bienvenida">
            <div class="ml-5 bienvenida__info">
                BIENVENIDO, LISS
                <br><br>
                ESTAS EN LA ZONA DE OBSERVAR ATLETA
            </div>

            <div class="mt-5 bienvenida__lista-atletas">
                <p>
                    SELECCIONE ATLETA QUE DESEA OBSERVAR
                </p>
                <div class="">
                    <app-lista-atletas></app-lista-atletas>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="wrap-imagen wrap-imagen-col">
                <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="foto atleta a observar">
            </div>

            <div class="mt-4">
                <p>
                    NOMBRE, ESTUDIANTE EDUCACION FISICA Y 
                    DEPORTES DEL POLITECNICO JAIME ISAZA CADAVID <br>
                    COD: <br>
                    TEL: <br>
                    ESTATURA: <br>
                    PESO: <br>
                    TALLA CAMISA:
                </p>
            </div>

            <div class="botones-envio mt-4">
                <button type="button" class="btn btn-light opciones-funciones__boton">SIGNOS VITALES</button>
                <button type="button" class="btn btn-light opciones-funciones__boton">MODIFICAR PERFIL</button>
            </div>
        </div>
    </div>
</div>
