
.wrapp-titulo {
    margin-top: 10px;
    text-align: center;
}

.titulo-informe {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.contenido-informe {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 5px;
}

.fecha-informe {
    text-align: end;
}
