<div class="container-fluid wrapp-contenido">
    <div class="contenido-informe">
        <div class="wrapp-titulo">
            <h2 class="titulo-informe mt-4">INFORME ENTRENADOR</h2>
        </div>
        <p>
            Monitoreo de atletas <br><br>
            Con el presente informe, se comunica las cifras de los eventos que ha programado
            el entrenador {{ nombreEntrenador }} en su historial  <br><br>
            El numero de eventos totales que ha programado es de {{ informe?.totalEventos }}, de los cuales
            {{ informe?.numeroEventosAnio }} eventos han sido del actual año<br><br>
            Se destaca que la mejor marca obtenida por uno de sus atletas fue un tiempo de {{ informe?.mejorMarca?.marca }} 
            por {{ informe?.mejorMarca?.nombreAtleta }}. Además se informa de que el promedio de resultados por parte 
            de sus atletas es de {{ informe?.promedioMarcas }}.<br><br>
            Por ultimo, ahí {{ informe?.numeroAtletas }} atleta(s) al cargo del entrenador {{ nombreEntrenador }}.
        </p>
        <div class="fecha-informe">
            <span>Medellín, {{ hoy }}</span>
        </div>
    </div>
</div>
