<form  #myForm="ngForm">
    <table class="mt-4 tabla-atletas" style="width:40%" >

        <tr *ngFor="let atleta of atletas; let i = index">
            <td>
                <div class="wrap-imagen wrap-imagen-col">
                    <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="foto atleta a observar">
                </div>
            </td>
            <td style="background-color: #fff;">
                {{ atleta?.nombre }}
            </td>
            <td style="background-color: #fff;">
                <input type="checkbox" 
                       name="{{ i }}" 
                       [value]="atleta.cedulaAtleta" 
                       [(ngModel)]="checkList[i]" 
                       (change)="opcionesDisponibles($event, i)">
            </td>
        </tr>
    </table>
</form>