
.wrapp-main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 90%;    
}

/* ------- IMAGEN -------*/
.content__wrapp-img {
    width: 150px;
    margin: 0 auto;
}

.content__img {
    width: 100%;
    max-height: 0 auto;
}

/* ------- TITLE -------*/
.content__wrapp-title {
    text-align: center;
}

.content__title {
    font-size: 25px;
    color: #28A200;
}


/* ------- FORM -------*/
.content__wrapp-indication {
    text-align: center;
}

.content__indication {
    font-size: 15px;
    color: #17D700;
}

.content__wrapp-inputs {
    width: 350px;
    margin: 0 auto;
}

.content__input {
    width: 90%;
    height: 25px;
}

.content__wrapp-submit {
    text-align: center;
}

/*------ MEDIAS QUERYS -------*/
@media (max-device-width: 1200px) and (min-device-height: 1023px){
    .content__wrapp-img {
        width: 30%;
        margin: 0 auto;
    }

    .content__title {
        font-size: 35px;
    }

    .content__indication {
        font-size: 25px;
    }
}

@media (max-device-width: 768px) {
    .content__wrapp-img {
        width: 30%;
        margin: 0 auto;
    }
}

@media (max-device-width: 576px) {
    .content__title {
        font-size: 15px;
    }

    .content__indication {
        font-size: 10px;
    }
}
