<div class="wrapp-main">
    <div class="content">
        <div class="content__wrapp-img">
            <img src="../../../assets/img/escudo-politecnico-jic.jpg" class="content__img" alt="">
        </div>

        <div class="content__wrapp-title mt-4">
            <h1 class="content__title">
                SISTEMA DE MONITOREO EN <br>
                TIEMPO REAL PARA ATLETAS
            </h1>
        </div>


        <div class="content__wrapp-form">
            <form action="">
                <div class="content__wrapp-indication mt-4">
                    <h2 class="content__indication">
                        PARA DAR INICIO, INGRESE SUS DATOS PARA VALIDAR
                    </h2>
                </div>

                <div class="content__wrapp-inputs mt-4">
                    <table style="width:100%">
                        <tr>
                          <td>
                              <label for="">USUARIO</label>
                          </td>
                          <td>
                              <input type="text" name="" id="" class="content__input">
                          </td>
                        </tr>
                        <tr>
                          <td>
                              <label for="">CLAVE</label>
                          </td>
                          <td>
                              <input type="password" name="" id="" class="content__input">
                          </td>
                        </tr>
                    </table>
                </div>

                <div class="content__wrapp-submit mt-4">
                    <button type="button" class="btn btn-success">INICIAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
