
<div class="container wrapp-main mt-4 mb-4">
    <div class="row justify-content-center mb-4">
        <div class="col-12 wrap-imagen-col">
            <div class="wrap-imagen">
                <img src="../../../assets/img/escudo-politecnico-jic.jpg" class="img-poli" alt="escudo politecnico jic">
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-12 wrap-titulo-col">
            <div class="wrap-titulo-">
                <h1>
                    SISTEMA DE MONITOREO EN <br>
                    TIEMPO REAL PARA ATLETAS
                </h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 wrap-formulario-col">
            <div class="wrap-formulario">
                <form action="">
                    <span>
                        <h2>
                            PARA DAR INICIO, INGRESE SUS DATOS PARA VALIDAR
                        </h2>
                    </span>

                    <div class="wrap-inputs mt-4">
                        <div class="form-group row">
                            <label for="inputUsuario" class="col-2 col-form-label">USUARIO</label>
                            <div class="col-10 mt-2">
                              <input type="text" id="inputUsuario" class="input-login">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputClave" class="col-2 col-form-label">CLAVE</label>
                            <div class="col-10 mt-2 ">
                              <input type="password" id="inputClave" class="input-login">
                            </div>
                        </div>
                    </div>


                    <div class="wrap-submit mt-5">
                        <button type="button" class="btn btn-success">INICIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
