
.wrapp-main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 90%;    
}

/* ------- IMAGEN -------*/
.content__wrapp-img {
    width: 12%;
    margin: 0 auto;
}

.content__img {
    width: 100%;
    max-height: 0 auto;
}

/* ------- TITLE -------*/
.content__wrapp-title {
    text-align: center;
}

.content__title {
    font-size: 25px;
    color: #28A200;
}


/* ------- FORM -------*/
.content__wrapp-form {
}

.content__wrapp-indication {
    text-align: center;
}

.content__indication {
    font-size: 15px;
    color: #17D700;
}

.content__wrapp-inputs {
    width: 350px;
    margin: 0 auto;
}

.content__input {
    width: 90%;
    height: 25px;
}

.content__wrapp-submit {
    text-align: center;
}

