<div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button"
                class="btn btn-danger botones-navegacion__boton">
                ATRAS
        </button>
        <button type="button"
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
            CERRAR SESION
        </button>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div class="ml-5 bienvenida__info">
                BIENVENIDO, {{ atleta?.nombre | uppercase }}
                <br><br>
                ESTE ES TU RENDIMIENTO
            </div>
        </div>
        <div class="col-4">
            <div class="wrap-imagen wrap-imagen-col">
                <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="foto atleta a observar">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mt-4">
                <p>
                    <b>
                        NOMBRE, ESTUDIANTE EDUCACION FISICA Y 
                        DEPORTES DEL POLITECNICO JAIME ISAZA CADAVID
                    </b> 
                    <br>
                    <b>COD:</b> {{ atleta?.cedulaAtleta | uppercase }} <br>
                    <b>TEL:</b> {{ atleta?.telefono | uppercase }} <br>
                    <b>ESTATURA:</b> {{ atleta?.estatura | uppercase }} <br>
                    <b>PESO:</b> {{ atleta?.peso | uppercase }} <br>
                    <b>TALLA CAMISA:</b> {{ atleta?.tallaCamisa | uppercase }}
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid mt-3 mb-5">
                <app-rendimiento-atleta [cedulaAtleta]="cedulaAtleta" ></app-rendimiento-atleta>
            </div>
        </div>
    </div>
</div>
