<div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="tipoFormulario='editarEntrenador'">
                EDITAR PERFIL
        </button>
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
                CERRAR SESION
        </button>
    </div>

    <div class="bienvenida mt-5">
        <div class="bienvenida__info">
            <p>
                BIENVENIDO, {{ entrenador?.nombre | uppercase }}
                <br><br>
                ESTAS EN LA ZONA DE ENTRENADOR
            </p>
        </div>
        <div class="bienvenida__foto">
            <img src="../../../../assets/img/profile-atleta.jpeg" alt="foto entrenador">
        </div>
        <div class="bienvenida__info-personal">
            <P>
                <b><font color='red'> PERFIL PROFESIONAL </font></b> <br>
                NOMBRE: {{ entrenador?.nombreCompleto | uppercase }} <br>
                CORREO: {{ entrenador?.correo | uppercase }} <br>
                TELEFONO: {{ entrenador?.telefono | uppercase }} <br>
                ENTRENADOR ENCARGADO DE CIRCUITOS DE TRIATLON
            </P>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            atletas
            <app-lista-atletas (cedulaAtletaSelected)="obtenerAtletaSeleccionado($event)" [atletas]="atletas"></app-lista-atletas>
        </div>
        <div class="col-md-6 opciones-funciones">
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" 
                            class="btn btn-light opciones-funciones__boton"
                            [routerLink]="['../crear-evento', entrenador?.cedulaEntrenador, entrenador?.nombre ]">
                            CREAR EVENTO
                    </button>                    
                </span>
                <span>
                    <button type="button" 
                            class="btn btn-light opciones-funciones__boton"
                            [routerLink]="['../observar-atleta']">
                            OBSERVAR ATLETAS
                    </button>
                </span>
            </div>
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">VER RENDIMIENTO</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">GENERAR INFORME</button>
                </span>
            </div>
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton" (click)="tipoFormulario='crear'">AGREGAR ATLETA</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton" (click)="verificarAtletaEditar()">MODIFICAR ATLETA</button>
                </span>
            </div>
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton" (click)="eliminarAtleta()">ELIMINAR ATLETA</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">CONECTAR DISPOSITIVOS</button>
                </span>
            </div>


            <div [ngSwitch]="tipoFormulario">
                <app-editar-entrenador *ngSwitchCase="'editarEntrenador'" 
                                        [entrenador]="entrenador"></app-editar-entrenador>
                <app-crear-atleta *ngSwitchCase="'crear'" [perfilActual]="perfil" [cedulaEntrenador]="entrenador.cedulaEntrenador" ></app-crear-atleta>
                <app-editar-atleta *ngSwitchCase="'editarAtleta'" 
                                    [atleta]="atletaSeleccionado"></app-editar-atleta>
            </div>


            <div class="content__wrapp-img mt-4">
                <img src="../../../../assets/img/escudo-politecnico-jic.jpg" class="content__img" alt="">
            </div>
        </div>
    </div>
</div>
