<div class="container mt-5">
    <form [formGroup]="myForm" (submit)="eliminarEntrenador()">
        <p>
            <b>
                <font color="red">
                    ELIMINAR ENTRENADOR
                </font>
            </b>
        </p>
        <select class="custom-select" formControlName="cedula_entrenador">
            <option selected>seleccionar entrenador</option>
            <option *ngFor="let cedula of cedulasEntrenador" [value]="cedula">{{ cedula }}</option>
        </select>
        <button type="submit" class="btn btn-success mt-4 mb-2">eliminar</button>
    </form>
</div>
