<div class="container-fluid mt-4">
    <div class="botones-navegacion">
        <button type="button" class="btn btn-danger botones-navegacion__boton">ATRAS</button>
        <button type="button" class="btn btn-danger botones-navegacion__boton" (click)="cerrarSesion()">
            CERRAR SESION
        </button>
    </div>

    <div class="bienvenida mt-5">
        <div class="bienvenida__info">
            <p>
                BIENVENIDO
                <br><br>
                ESTAS EN TU PERFIL DE ADMINISTRADOR
            </p>
        </div>
        <div class="bienvenida__img-poli">
            <img src="../../../../assets/img/escudo-politecnico-jic.jpg" alt="escudo politecnico jic">
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-3">
            <div class="wrap-opciones">
                <div>
                    <a type="button" (click)="tipoFormulario = 'crearEntrenador'">Crear Entrenador</a> <br>
                </div>
                <div>
                    <a type="button" (click)="tipoFormulario = 'crearAtleta'">Crear Atleta</a> <br>
                </div>
                <div>
                    <a type="button" (click)="tipoFormulario = 'eliminarEntrenador'">Eliminar entrenador</a> <br>
                </div>
                <div>
                    <a type="button" (click)="tipoFormulario = 'eliminarAtleta'">Eliminar Atleta</a> <br>
                </div>
            </div>
        </div>
        <div class="col-md-7  opciones-funciones">
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">VER DISPOSITIVOS</button>
                </span>
                <span>
                    <button type="button" 
                            class="btn btn-light opciones-funciones__boton" 
                            (click)="tipoFormulario = 'editarPerfil'">
                            EDITAR PERFIL
                    </button>
                </span>
            </div>

            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">AGREGAR DISPOSITIVOS</button>
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">GENERAR INFORME</button>
                </span>
            </div>

            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">VER RENDIMIENTO</button>
                </span>
            </div>


            <div [ngSwitch]="tipoFormulario" id="opcion">
                <app-editar-administrador *ngSwitchCase="'editarPerfil'" 
                                           [administrador]="administrador" 
                                           ></app-editar-administrador>

                <app-crear-atleta *ngSwitchCase="'crearAtleta'" ></app-crear-atleta>

                <app-crear-entrenador *ngSwitchCase="'crearEntrenador'" ></app-crear-entrenador>

                <app-eliminar-atleta *ngSwitchCase="'eliminarAtleta'"></app-eliminar-atleta>

                <app-eliminar-entrenador *ngSwitchCase="'eliminarEntrenador'"></app-eliminar-entrenador>
            </div>          
        </div>
    </div>
</div>