

 .bienvenida {
    display: flex;
}

.bienvenida > div {
    width: 30%;
}

.bienvenida__info {
    padding: 2% 0 0 10%;
}

.bienvenida__img-poli> img {
   max-width: 150px;
   max-height: 0 auto;
}

.wrap-opciones {
    background-color: white;
    text-align: center;
    height: auto;
    border: 1px solid #000000;
}

.wrap-opciones > div {
    border-bottom: 1px solid #000000;
    padding: 0 !important;
}

.wrap-opciones > div > a {
    width: 100%;
    color:  #000000;
    text-decoration: none;
}