<div class="container wrap-main mt-4 ">
    <div class="row">
        <div class="col-5 offset-8">
            <span class="mr-5">
                <button type="button" class="btn btn-danger">ATRAS</button>
            </span>
            <span>
                <button type="button" class="btn btn-danger">CERRAR SESION</button>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p class="mt-5">
                BIENVENIDO
                <br><br>
                ESTE ES TU PERFIL DE
                ADMINISTRADOR
            </p>
        </div>
        <div class="col-4">
            <div class="wrap-imagen wrap-imagen-col">
                <img src="../../../assets/img/escudo-politecnico-jic.jpg" class="img-poli" alt="escudo politecnico jic">
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <div class="wrap-opciones">
                <div>
                    <a href="">Crear Entrenador</a> <br>
                </div>
                <div>
                    <a href="">Crear Atleta</a> <br>
                </div>
                <div>
                    <a href="">Eliminar entrenador</a> <br>
                </div>
                <div>
                    <a href="">Eliminar Atleta</a> <br>
                </div>
            </div>
        </div>

        <div class="col-6 offset-2">
            <div class="mb-5">
                <span class="mr-5">
                    <button type="button" class="btn btn-light boton">AGREGAR INFORME</button>                    
                </span>
                <span>
                    <button type="button" class="btn btn-light boton">EDITAR PERFIL</button>
                </span>
            </div>
        </div>
    </div>
</div>