<div class="container-fluid mt-4">
    <div class="botones-navegacion">
        <button type="button" class="btn btn-danger botones-navegacion__boton">ATRAS</button>
        <button type="button" class="btn btn-danger botones-navegacion__boton">CERRAR SESION</button>
    </div>

    <div class="bienvenida mt-5">
        <div class="bienvenida__info">
            <p>
                BIENVENIDO
                <br><br>
                ESTAS EN TU PERFIL DE ADMINISTRADOR
            </p>
        </div>
        <div class="bienvenida__img-poli">
            <img src="../../../../assets/img/escudo-politecnico-jic.jpg" alt="escudo politecnico jic"> 
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-3">
            <div class="wrap-opciones">
                <div>
                    <a href="">Crear Entrenador</a> <br>
                </div>
                <div>
                    <a href="">Crear Atleta</a> <br>
                </div>
                <div>
                    <a href="">Eliminar entrenador</a> <br>
                </div>
                <div>
                    <a href="">Eliminar Atleta</a> <br>
                </div>
            </div>
        </div>
        <div class="col-md-7 mt-5 opciones-funciones">
            <div class="mb-3">
                <span class="mr-5">
                    <button type="button" class="btn btn-light opciones-funciones__boton">AGREGAR INFORME</button>                    
                </span>
                <span>
                    <button type="button" class="btn btn-light opciones-funciones__boton">EDITAR PERFIL</button>
                </span>
            </div>
        </div>
    </div>
</div>