<div class="container mt-5">
    <form [formGroup]="myForm" (submit)="actualizarEntrenador()">
        <p>
            <b>
                <font color="red">
                    EDITAR PERFIL
                </font>
            </b>
        </p>

        <div class="form-group">
            <label for="nombre">NOMBRE</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">APELLIDOS</label>
            <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
        </div>
        <div class="form-group">
            <label for="telefono">TELEFONO</label>
            <input type="number" class="form-control" id="telefono" formControlName="telefono">
        </div>
        <div class="form-group">
            <label for="correo">CORREO</label>
            <input type="email" class="form-control" id="correo" formControlName="correo">
        </div>

        <button type="submit" class="btn btn-success mb-2">Actualizar perfil</button>
    </form>
</div>
