.wrapp {
    margin-top: 20px;
}

.wrapp-opciones-superiores {
    display: flex;
    justify-content: flex-end;
}

.opciones-superiores {
    margin: 0 15px;
}

.wrap-imagen {
    margin: 0 auto;
    width: 150px;
    height: 0 auto;
}

.img-perfil {
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

.input-login {
    padding-top: 15px;
    width: 205px;
    height: 25px;
}