<div class="wrapp">
    <div class="wrapp-opciones-superiores">
        <div class="opciones-superiores">
            <button type="button" class="btn btn-danger">ATRAS</button>
        </div>
        <div class="opciones-superiores">
            <button type="button" class="btn btn-danger">EDITAR PERFIL</button>
        </div>
        <div class="opciones-superiores">
            <button type="button" class="btn btn-danger">CERRAR SESION</button>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                BIENVENIDO, LISS
                <br><br>
                ESTAS EN LA ZONA DE CREAR UN EVENTO
            </div>
            <div class="col-6">
                <div class="wrap-imagen wrap-imagen-col">
                    <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="escudo politecnico jic">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                atletas
            </div>

            <div class="col-6">
                <form action="">
                    <div class="mt-4">
                        <div class="form-group row">
                            <label for="inputUsuario" class="col-4">LUGAR DE EVENTO</label>
                            <div class="col-8 mt-2">
                              <input type="text" id="inputUsuario" class="input-login">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="inputClave" class="col-4">REQUISITOS PARA EVENTO</label>
                            <div class="col-8 mt-2 ">
                              <input type="password" id="inputClave" class="input-login">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        

    </div>




</div>