<div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button" class="btn btn-danger botones-navegacion__boton">ATRAS</button>
        <button type="button" class="btn btn-danger botones-navegacion__boton">EDITAR PERFIL</button>
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
                CERRAR SESION
        </button>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 pt-5">
                BIENVENIDO, LISS
                <br><br>
                ESTAS EN LA ZONA DE CREAR UN EVENTO
            </div>
            <div class="col-md-6">
                <div class="wrap-imagen wrap-imagen-col">
                    <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="escudo politecnico jic">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                seleccionar atletas para el evento
            </div>
            <div class="col-md-6">
                <form action="">
                    <div class="content__wrapp-inputs mt-4">
                        <table style="width:100%">
                            <tr>
                              <td class="pb-3">
                                  <label for="">LUGAR DEL EVENTO</label>
                              </td>
                              <td class="pb-3" >
                                  <input type="text" name="" id="" class="content__input">
                              </td>
                            </tr>
                            <tr>
                              <td class="pb-3">
                                  <label for="">REQUISITOS PARA EVENTO</label>
                              </td>
                              <td class="pb-3">
                                  <input type="text" name="" id="" class="content__input">
                              </td>
                            </tr>
                            <tr>
                                <td class="pb-3">
                                    <label for="">FECHA DEL EVENTO</label>
                                </td>
                                <td class="pb-3">
                                    <input type="date" name="" id="" class="content__input">
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-3">
                                    <label for="">HORA DEL EVENTO</label>
                                </td>
                                <td class="pb-3">
                                    <input type="time" name="" id="" class="content__input">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="botones-envio mt-4">
                        <button type="button" class="btn btn-light botones-navegacion__boton">CANCELAR</button>
                        <button type="button" class="btn btn-light botones-navegacion__boton">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>