<div class="container-fluid mt-3">
    <div class="botones-navegacion">
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                [routerLink]="['/home']">
                ATRAS
        </button>
        <button type="button" 
                class="btn btn-danger botones-navegacion__boton"
                (click)="cerrarSesion()">
                CERRAR SESION
        </button>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 pt-5">
                BIENVENIDO, {{ nombreEntrenador | uppercase }}
                <br><br>
                ESTAS EN LA ZONA DE CREAR UN EVENTO
            </div>
            <div class="col-md-6">
                <div class="wrap-imagen wrap-imagen-col">
                    <img src="../../../../assets/img/profile-atleta.jpeg" class="img-perfil" alt="escudo politecnico jic">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                seleccionar atletas para el evento:
                <app-lista-atletas (cedulasAtletasSelected)="obtenerAtletasSeleccionados($event)" [tipoVista]="tipoVista" [atletas]="atletas" ></app-lista-atletas>
            </div>
            <div class="col-md-6">
                <form [formGroup]="myform" (submit)="crearEvento()">
                    <div class="content__wrapp-inputs mt-4">
                        <table style="width:100%">
                            <tr>
                              <td class="pb-3">
                                  <label for="">LUGAR DEL EVENTO</label>
                              </td>
                              <td class="pb-3" >
                                  <input type="text" name="lugar" id="lugar" class="content__input" formControlName="lugar">
                              </td>
                            </tr>
                            <tr>
                              <td class="pb-3">
                                  <label for="">REQUISITOS PARA EVENTO</label>
                              </td>
                              <td class="pb-3">
                                  <input type="text" name="requisitos" id="requisitos" class="content__input" formControlName="requisitos">
                              </td>
                            </tr>
                            <tr>
                                <td class="pb-3">
                                    <label for="">FECHA DEL EVENTO</label>
                                </td>
                                <td class="pb-3">
                                    <input type="date" name="fecha" id="fecha" class="content__input" formControlName="fecha">
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-3">
                                    <label for="">HORA DEL EVENTO</label>
                                </td>
                                <td class="pb-3">
                                    <input type="time" name="hora" id="hora" class="content__input" formControlName="hora">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="botones-envio mt-4">
                        <button type="button" class="btn btn-light botones-navegacion__boton" (click)="resetearDatosEvento()">CANCELAR</button>
                        <button type="submit" class="btn btn-light botones-navegacion__boton">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>